body {
    background-color: lightgray;
}

div.card {
    height: 80%;
    margin: auto;
    cursor: pointer;
}

div.card:hover {
    height: 90%
}

/* .card-body {
    height: 50%;
} */

.card-img-top {
    height: 60%;
}

.cardwrapper {
    display: grid;
    width: 66%;
    margin: auto;
    gap: 10px;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

#Lizard-img{
    background-color: #91e191;
}
#Rock-img{
    background-color: #ff8080;
}
#Spock-img{
    background-color: #86b6ff;
}
#Paper-img{
    background-color: #ffde52;
}
#Scissors-img{
    background-color: #e889ff;
}